blockquote {
    padding: 0.5em .5em 0.5em 1em;
    font-style: italic;
    text-indent: 1.5em;
    line-height: 1.3em;
}

blockquote cite {
    display: block;
    text-align: right;
    margin-top: .5em;
    font-style: normal;
}

blockquote cite a {
    color: inherit;
    text-decoration: inherit;
}